<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
    <head th:replace="layout/Head.html"></head>
    <body style="background-color: rgb(238,238,238)">

        <!-------------------------------------------------------------------->
        <div class="wrapper d-flex align-items-stretch">
            <!------------------------- Sidenavbar ----------------->
            <div th:replace="layout/SideNavbar.html"></div>
            <!------------------------- Content ----------------->
            <div style="margin-left: 10px" id="content" class="p-4 p-ms-5 pt-5" layout:fragment="content">
                <div th:replace="components/quanly/Dashboard.html">

                </div>
            </div>
        </div>
        <!-------------------------------------------------------------------->

    </body>
    <script th:src="@{/assets/vendor/Js/main.js}" type="text/javascript"></script>
    <script type="text/javascript">
        Waves.init();
        Waves.attach('.float-buttons', ['waves-button', 'waves-float']);
        Waves.attach('.btn');
        Waves.attach('.fa');
    </script>
</html>