    <!-- ---------------------------------- Sidenavbar ------------------------- -->
        <nav id="sidebar" style="  box-shadow: 5px 0 5px -5px #333;">
            <div class="custom-menu">
                <button type="button" id="sidebarCollapse" class="btn btn-primary btn-toggle">
                    <i style="line-height: 12px" class="fa fa-bars"></i>
                    <span class="sr-only">Toggle Menu</span>
                </button>
            </div>
            <div class="p-4">
                <!-- -------------------------------- Logo -------------------------------->
                <h1>
                    <a href="index.html" class="logo">Flash</a>
                </h1>
                <ul class="list-unstyled components mb-5 sidenavbar">
                    <!-- ------------------------------- Dashboard ------------------------- -->
                    <li class="active  ">
                        <a  href="/">
                            <span class="fa fa-home mr-3"></span>
                            Trang Quản Lý
                        </a>
                    </li>
                    <!-- ------------------------------- Căn Hộ ------------------------- -->
                    <li >
                        <a href="#toanha"  data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                            <i class="fa fa-building mr-3"></i>
                            Căn Hộ
                        </a>
                        <ul class="collapse list-unstyled" id="toanha">
                            <!---------------------------->
                            <li >
                                <a href="/table-canho">
                                    <span></span>
                                    Danh sách căn hộ
                                </a>
                            </li>
                            <!---------------------------->
                            <li>
                                <a href="/chucanho">
                                    <span ></span>
                                    Thông tin chủ căn hộ
                                </a>
                            </li>
                            <!---------------------------->
                            <li>
                                <a href="/table-chucanho">
                                    <span></span>
                                   Danh sách chủ căn hộ
                                </a>
                            </li>
                            <!---------------------------->
                        </ul>
                    </li>
                    <!-- --------------------------------- Cư dan ---------------------- -->
                    <li>
                        <a href="#cudan" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                            <span class="fa fa-address-card mr-3"></span>
                            Cư Dân
                        </a>
                        <ul class="collapse list-unstyled" id="cudan">
                            <!---------------------------->
                            <li>
                                <a href="/cudan">
                                    <span class=""></span>
                                    Thông tin cư dân
                                </a>
                            </li>
                            <!---------------------------->
                            <li>
                                <a href="/table-cudan">
                                    <span class=""></span>
                                   Danh sách cư dân
                                </a>
                            </li>
                            <!---------------------------->
                            <li>
                                <a href="/table-xe">Xe Gửi</a>
                            </li>
                            <!---------------------------->
                        </ul>
                    </li>
                    <!-- --------------------------------- hoa don ---------------------- -->
                    <li>
                        <a href="#bill" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                            <i class="fa fa-file-invoice-dollar mr-3"></i>
                            Hóa Đơn
                        </a>
                        <!---------------------------->
                        <ul class="collapse list-unstyled" id="bill">
                            <li>
                                <a href="#">
                                    <span ></span>
                                    Thông tin hóa đơn
                                </a>
                            </li>
                            <!---------------------------->
                            <li>
                                <a href="/table-hoadon">
                                    <span ></span>
                                   Danh sách hóa đơn
                                </a>
                            </li>
                            <!---------------------------->
                        </ul>
                    </li>
                    <!-- -------------------------------- Bảng giá  ---------------------- -->
                    <li>
                        <a href="#phidichvu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                            <i class="fa fas fa-file-invoice mr-3"></i>
                            Bảng Giá
                        </a>
                        <!---------------------------->
                        <ul class="collapse list-unstyled" id="phidichvu">
                            <!------------------------------>
                            <li>
                                <a href="#">
                                    <span class=""></span>
                                    Bảng giá điện
                                </a>
                            </li>
                            <!---------------------------->
                            <li>
                                <a href="#">
                                    <span class=""></span>
                                    Bảng giá nước
                                </a>
                            </li>
                            <!---------------------------->
                            <li>
                                <a href="#">
                                    <span class=""></span>
                                    Phí gửi xe
                                </a>
                            </li>
                            <!---------------------------->
                            <li>
                                <a href="#">
                                    <span class=""></span>
                                    Phí rác
                                </a>
                            </li>
                            <!---------------------------->
                            <li>
                                <a href="#">
                                    <span class=""></span>
                                    Phí quản lý
                                </a>
                            </li>
                            <!---------------------------->
                        </ul>
                    </li>
                    <!-- --------------------------------- tai khoan---------------------- -->
                    <li>
                        <a href="#taikhoan" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                            <i class="fas fa-user-circle mr-3"></i>
                           Tài khoản
                        </a>
                        <!---------------------------->
                        <ul class="collapse list-unstyled" id="taikhoan">
                            <li>
                                <a href="#">
                                    <span ></span>
                                    Thông tin tài khoản
                                </a>
                            </li>
                            <!---------------------------->
                            <li>
                                <a href="/table-hoadon">
                                    <span ></span>
                                    Danh sách tài khoản
                                </a>
                            </li>
                            <!---------------------------->
                        </ul>
                    </li>

                    <!-- --------------------------------- Thông báo  ---------------------- -->
                    <li>
                        <a href="#"><span class="fa fa-bell mr-3"></span> Thông Báo </a>
                    </li>
                    <!-- --------------------------------- Nội quy ---------------------- -->
                    <li>
                        <a href="#"><span class="fa fa-question-circle mr-3"></span> Nội Quy </a>
                    </li>
                </ul>
                <!-- --------------------------------- End Sidenavbar ---------------------- -->
                <div class="footer">
                    <p>
                        Copyright &copy;<script>
                            document.write(new Date().getFullYear());
                        </script>
                    </p>
                </div>
                <!-------------------------------------------------------------------------------->
            </div>
        </nav>
