<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/LayoutAdmin">
<div layout:fragment="content">
    <!------------------------------------------- Header----------------------------------->
    <div class="row">
        <a class="title"> Quản Lý căn hộ</a>
        <div th:replace="layout/Header"></div>
    </div>
    <!----------------------------------------- TABLE Căn hộ ----------------------------->
    <div class="card" style="width: 100%; margin-left: -3px">
        <!---------------------------------- card title table ----------------------------->
        <div class="card-header" style="border-radius: 6px;">
            <div class="card-titles">
                <h6 style="color: white"> Danh sách căn hộ</h6>
            </div>
        </div>
        <!----------------------------------- card-body-table ---------------------------->
        <div class="card-body">
            <table class="table table-hover" id="table-canho">
                <thead>
                <tr>
                    <th>

                    </th>
                </tr>
                </thead>
            </table>
            <!------------------------------- button open modal form  ---------------------------->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#form-building">
                <i class="icon-btn fa fa-plus"></i> Thêm căn hộ
            </button>
        </div>
    </div>
    <!------------------------------------------------ Form modal can ho ---------------------------------->
    <div class="modal fade" id="form-building" tabindex="-1"
         role="dialog" aria-labelledby="form-label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <!-------------------------------------- Header-modal ------------------------------------->
                <div class="modal-header">
                    <h5 class="modal-title" id="form-label">Thông Tin Căn Hộ </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i style="color: white" class="fas fa-times"></i>
                    </button>
                </div>
                <!----------------------------------------- body-modal ------------------------------------->
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <!------------------------------ ID Can ho ------------------------------------->
                            <div class="input-container">
                                <input type="text" required="" name="idcanho" id="idcanho"
                                       style="width:230px"/>
                                <label for="idcanho">ID Căn Hộ </label>
                            </div>
                            <!-------------------------------- Diện Tích ------------------------------------>
                            <div class="input-container">
                                <input type="number" min="0" required="" name="dientich" id="dientich"
                                       style="width:220px"/>
                                <label for="dientich">Diện Tích (m2)</label>
                            </div>
                        </div>
                        <!---------------------------- End row ----------------------->
                        <div class="row">
                            <!------------------------------- Vị trí  -------------------------------------->
                            <div class="input-container">
                                <input type="text" required="" min="0" name="vitri" id="vitri"
                                       style="width:100px">
                                <label for="vitri"> Vị Trí</label>
                            </div>
                            <!-------------------------------- password ------------------------------------>
                            <div class="input-container">
                                <input type="text" required="" name="password" id="password" style="width:200px">
                                <label for="password">Password</label>
                            </div>
                            <!------------------------------- id chủ hộ ------------------------------------->
                            <div>
                                <select style="width: 140px;margin: 2px 0 0 10px;padding-bottom: 12px;"
                                        class="input-select">
                                    <option selected> ID Chủ Hộ</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </div>
                        <!------------------------------------ End row -------------------------------------->
                    </form>
                </div>
                <!----------------------------------------- footer-modal -------------------------------------->
                <div class="modal-footer">
                    <button type="button" class="btn btn-success"><i class="icon-btn fa fa-plus"></i> Tạo Mới
                    </button>
                    <button type="button" class="btn btn-primary"><i class=" icon-btn fas fa-sync-alt"></i>Cập Nhật
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-------------------------------------------------------- End Div content ------------------------------------------->