<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/LayoutAdmin">
<div layout:fragment="content">
    <!------------------------------------------------- Header------------------------------------->
    <div class="row">
        <a class="title"> Quản Lý Hóa Đơn</a>
        <div th:replace="layout/Header"></div>
    </div>
    <!----------------------------------------------- Table hóa đơn---------------------------------->
    <div class="card" style="width: 100%; margin-left: -3px">
        <!------------------------------------------ card title table -------------------------------->
        <div class="card-header" style="border-radius: 6px;">
            <div class="card-titles">
                <h6 style="color: white"> Danh sách hóa đơn</h6>
            </div>
        </div>
        <!-------------------------------------------- card-body-table ------------------------------->
        <div class="card-body">
            <table class="table table-hover" id="table-hoadon">
                <thead>
                <tr>
                    <th>

                    </th>
                </tr>
                </thead>
            </table>
            <!--------------------------------- Button open modal form hoa don -------------------------->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#form-building">
                <i class="icon-btn fa fa-plus"></i> Lên Hóa Đơn
            </button>
        </div>
    </div>
    <!--------------------------------------------- Form modal Hóa đơn---------------------------------->
    <div class="modal fade" id="form-building" tabindex="-1"
         role="dialog" aria-labelledby="form-label" aria-hidden="true">
        <div class=" modal-lg modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <!------------------------------------- Header-modal ----------------------------------->
                <div class="modal-header">
                    <h5 class="modal-title" id="form-label">Thông tin hóa đơn </h5>
                    <i class="material-icons "  data-dismiss="modal">close</i>
                </div>
                <!--------------------------------------- body-modal ------------------------------------->
                <div class="modal-body">
                    <form>

                        <div class="row">
                            <!---------------------------- Số điện mới ------------------------------------>
                            <div class="input-container">
                                <input type="number" min="0" required="" name="electricityNew" id="electricityNew"
                                       style="width:180px"/>
                                <label for="electricityNew">Số Điện Mới </label>
                            </div>

                            <!------------------------------ Số điện cũ  ---------------------------------->
                            <div class="input-container">
                                <input type="number" min="0" required="" name="electricityNumber" id="electricityNumber"
                                       style="width:180px"/>
                                <label for="electricityNumber">Số Điện Cũ </label>
                            </div>
                            <!----------------------------- Số nước mới ----------------------------->
                            <div class="input-container">
                                <input type="number" min="0" required="" name="waterNew" id="waterNew" style="width:180px"/>
                                <label for="waterNew">Số Nước Mới </label>
                            </div>
                            <!----------------------------- Số  nước cũ ----------------------------->
                            <div class="input-container">
                                <input type="number" min="0" required="" name="waterNumber" id="waterNumber" style="width:180px"/>
                                <label for="waterNumber">Số Nước Cũ </label>
                            </div>
                        </div>
                        <!---------------------------------------- End row ---------------------------------->
                        <div class="row">
                            <!-------------------------------------- Xe oto --------------------------------->
                            <div class="input-container">
                                <input type="number" min="0" required="" name="car" id="car" style="width:120px">
                                <label for="car"> Xe Ô Tô</label>
                            </div>
                            <!----------------------------------- Xe tay ga  ------------------------------>
                            <div class="input-container">
                                <input type="number" min="0" required="" name="scooter" id="scooter" style="width:120px">
                                <label for="scooter">Xe Tay Ga </label>
                            </div>
                            <!----------------------------------- Xe may thuong   ------------------------->
                            <div class="input-container">
                                <input type="number" min="0" required="" name="bicycle" id="bicycle" style="width:110px">
                                <label for="bicycle">Xe Số </label>
                            </div>
                            <!-------------------------------------- Xe mo to  ---------------------------->
                            <div class="input-container">
                                <input type="number" min="0" required="" name="motorcycle" id="motorcycle" style="width:110px">
                                <label for="motorcycle">Xe Mô Tô </label>
                            </div>
                            <!------------------------------------ Xe dap dien ----------------------------->
                            <div class="input-container">
                                <input type="number" min="0" required="" name="electricBicycle" id="electricBicycle" style="width:110px">
                                <label for="electricBicycle">Xe Đạp Điện </label>
                            </div>
                            <!-------------------------------------- Xe dap  ----------------------------->
                            <div class="input-container">
                                <input type="number" min="0" required="" name="bike" id="bike" style="width:120px">
                                <label for="bike">Xe Đạp </label>
                            </div>
                        </div>
                        <div class="row">
                            <!------------------------------------------ Ngay  -------------------------------->
                            <div class="input-container">
                                <input type="text" required="" name="date" id="date" style="width:180px"/>
                                <label for="date">Ngày </label>
                            </div>

                            <!----------------------------------------- ID can ho   -------------------------->
                            <div>
                                <select style="width: 180px;margin: 2px 0 0 10px;padding-bottom: 12px;" class="input-select">
                                    <option selected> ID Căn Hộ </option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                            <!--------------------------------------- id nhan vien  ---------------------------->
                            <div>
                                <select style="width: 180px;margin: 2px 0 0 10px;padding-bottom: 12px;"
                                        class="input-select">
                                    <option selected> ID Nhân Viên</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                            <div style="margin: 20px 0 0 28px;" class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="paid">
                                <label class="form-check-label" for="paid">
                                    Đã Thanh Toán
                                </label>
                            </div>
                        </div>
                        <!------------------------------------ End row ----------------------->
                    </form>
                </div>
                <!------------------ footer-modal ----------------->
                <div class="modal-footer">
                    <button type="button" class="btn btn-success"><i class="icon-btn fa fa-plus"></i> Tạo Mới
                    </button>
                    <button type="button" class="btn btn-primary"><i class=" icon-btn fas fa-sync-alt"></i>Cập Nhật
                    </button>
                </div>
                <!------------------------------------------->
            </div>
        </div>
    </div>
</div>
