<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/LayoutAdmin">
<div layout:fragment="content">
    <!------------------------------------------------- Header------------------------------------->
    <div class="row">
        <a class="title"> Quản Lý Hóa Đơn</a>
        <div th:replace="layout/Header"></div>
    </div>
    <!----------------------------------------------- Table hóa đơn---------------------------------->
    <div class="card" style="width: 100%; margin-left: -3px">
        <!------------------------------------------ card title table -------------------------------->
        <div class="card-header" style="border-radius: 6px;">
            <div class="card-titles">
                <h6 style="color: white"> Danh sách hóa đơn</h6>
            </div>
        </div>
        <!-------------------------------------------- card-body-table ------------------------------->
        <div class="card-body">
            <table class="table table-hover" id="table-hoadon">
                <thead>
                <tr>
                    <th>

                    </th>
                </tr>
                </thead>
            </table>
            <!--------------------------------- Button open modal form hoa don -------------------------->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#form-building">
                <i class="icon-btn fa fa-plus"></i> Lên Hóa Đơn
            </button>
        </div>
    </div>
    <!--------------------------------------------- Form modal Hóa đơn---------------------------------->
    <div class="modal fade" id="form-building" tabindex="-1"
         role="dialog" aria-labelledby="form-label" aria-hidden="true">
        <div class=" modal-lg modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <!------------------------------------- Header-modal ----------------------------------->
                <div class="modal-header">
                    <h5 class="modal-title" id="form-label">Thông tin hóa đơn </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i style="color: white" class="fas fa-times"></i>
                    </button>
                </div>
                <!--------------------------------------- body-modal ------------------------------------->
                <div class="modal-body">
                    <form>

                        <div class="row">
                            <!---------------------------- Số điện mới ------------------------------------>
                            <div class="input-container">
                                <input type="number" min="0" required="" name="sodienmoi" id="sodienmoi"
                                       style="width:180px"/>
                                <label for="sodienmoi">Số Điện Mới </label>
                            </div>

                            <!------------------------------ Số điện cũ  ---------------------------------->
                            <div class="input-container">
                                <input type="number" min="0" required="" name="sodien" id="sodien"
                                       style="width:180px"/>
                                <label for="sodien">Số Điện Cũ </label>
                            </div>
                            <!----------------------------- Số nước mới ----------------------------->
                            <div class="input-container">
                                <input type="number" min="0" required="" name="sonuocmoi" id="sonuocmoi"
                                       style="width:180px"/>
                                <label for="sonuocmoi">Số Nước Mới </label>
                            </div>
                            <!----------------------------- Số  nước cũ ----------------------------->
                            <div class="input-container">
                                <input type="number" min="0" required="" name="sonuoc" id="sonuoc" style="width:180px"/>
                                <label for="sonuoc">Số Nước Cũ </label>
                            </div>
                        </div>
                        <!---------------------------------------- End row ---------------------------------->
                        <div class="row">
                            <!-------------------------------------- Xe oto --------------------------------->
                            <div class="input-container">
                                <input type="number" min="0" required="" name="xeoto" id="xeoto" style="width:120px">
                                <label for="xeoto"> Xe Ô Tô</label>
                            </div>
                            <!----------------------------------- Xe tay ga  ------------------------------>
                            <div class="input-container">
                                <input type="number" min="0" required="" name="xetayga" id="xetayga"
                                       style="width:120px">
                                <label for="xetayga">Xe Tay Ga </label>
                            </div>
                            <!----------------------------------- Xe may thuong   ------------------------->
                            <div class="input-container">
                                <input type="number" min="0" required="" name="xemaythuong" id="xemaythuong"
                                       style="width:110px">
                                <label for="xemaythuong">Xe Số </label>
                            </div>
                            <!-------------------------------------- Xe mo to  ---------------------------->
                            <div class="input-container">
                                <input type="number" min="0" required="" name="xemoto" id="xemoto" style="width:110px">
                                <label for="xemoto">Xe Mô Tô </label>
                            </div>
                            <!------------------------------------ Xe dap dien ----------------------------->
                            <div class="input-container">
                                <input type="number" min="0" required="" name="xedapdien" id="xedapdien"
                                       style="width:110px">
                                <label for="xedapdien">Xe Đạp Điện </label>
                            </div>
                            <!-------------------------------------- Xe dap  ----------------------------->
                            <div class="input-container">
                                <input type="number" min="0" required="" name="xedap" id="xedap" style="width:120px">
                                <label for="xedap">Xe Đạp </label>
                            </div>
                        </div>
                        <div class="row">
                            <!------------------------------------------ Ngay  -------------------------------->
                            <div class="input-container">
                                <input type="text" required="" name="ngay" id="ngay" style="width:180px"/>
                                <label for="ngay">Ngày </label>
                            </div>

                            <!----------------------------------------- ID can ho   -------------------------->
                            <div class="input-container">
                                <input type="text" required="" name="idcanho" id="idcanho"
                                       style="width:180px"/>
                                <label for="idcanho">ID Căn Hộ </label>
                            </div>
                            <!--------------------------------------- id nhan vien  ---------------------------->
                            <div class="input-container">
                                <input type="text" required="" name="idnv" id="idnv"
                                       style="width:180px"/>
                                <label for="idnv"> ID Nhân Viên </label>
                            </div>
                            <div style="margin: 20px 0 0 28px;" class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    Đã Thanh Toán
                                </label>
                            </div>
                        </div>
                        <!------------------------------------ End row ----------------------->
                    </form>
                </div>
                <!------------------ footer-modal ----------------->
                <div class="modal-footer">
                    <button type="button" class="btn btn-success"><i class="icon-btn fa fa-plus"></i> Tạo Mới
                    </button>
                    <button type="button" class="btn btn-primary"><i class=" icon-btn fas fa-sync-alt"></i>Cập Nhật
                    </button>
                </div>
                <!------------------------------------------->
            </div>
        </div>
    </div>
</div>
