<div class="align-left row">
    <div class="input-container">
        <input type="text" required="" name="search" id="search" style="width:250px" placeholder="search something"/>
    </div>
    <i class="fa fa-search search-icon ripple"></i>
    <div class="icon-left">
        <div class="dropdown show">
            <a class=" dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-bell-o"></i>
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
        <i style="margin-left: 10px" class="fa fa-cogs"></i>
    </div>
</div>  