    <!-- ---------------------------------- Sidenavbar ------------------------- -->
        <nav id="sidebar" style="  box-shadow: 5px 0 5px -5px #333;">
            <div class="custom-menu">
                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                    <i style="line-height: 12px" class="fa fa-bars"></i>
                    <span class="sr-only">Toggle Menu</span>
                </button>
            </div>
            <div class="p-4">
                <!-- -------------------------------- Logo -------------------------------->
                <h1>
                    <a href="index.html" class="logo">Flash</a>
                </h1>
                <ul class="list-unstyled components mb-5 sidenavbar">
                    <!-- ------------------------------- Dashboard ------------------------- -->
                    <li class="active  ">
                        <a  href="/">
                            <span class="fa fa-home mr-3"></span>
                            Trang Quản Lý
                        </a>
                    </li>
                    <!-- ------------------------------- Building ------------------------- -->
                    <li >
                        <a href="#toanha"  data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                            <i class="fa fa-building mr-3"></i>
                            Tòa Nhà
                        </a>
                        <ul class="collapse list-unstyled" id="toanha">
                            <!---------------------------->
                            <li >
                                <a href="#">
                                    <span class=""></span>
                                    Danh sách tòa nhà
                                </a>
                            </li>
                            <!---------------------------->
                            <li>
                                <a href="#">
                                    <span class=""></span>
                                    Danh sách phòng
                                </a>
                            </li>
                            <!---------------------------->
                        </ul>
                    </li>
                    <!-- --------------------------------- Residential ---------------------- -->
                    <li>
                        <a href="#cudan" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                            <span class="fa fa-address-card mr-3"></span>
                            Cư Dân
                        </a>
                        <ul class="collapse list-unstyled" id="cudan">
                            <!---------------------------->
                            <li>
                                <a href="/cudan">
                                    <span class=""></span>
                                    Thông tin cư dân
                                </a>
                            </li>
                            <!---------------------------->
                            <li>
                                <a href="/tablecudan">
                                    <span class=""></span>
                                   Danh sách cư dân
                                </a>
                            </li>
                            <!---------------------------->
                            <li>
                                <a href="#">Xe Gửi</a>
                            </li>
                            <!---------------------------->
                        </ul>
                    </li>
                    <!-- --------------------------------- invoice monthly ---------------------- -->
                    <li>
                        <a href="#bill" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                            <i class="fa fa-list-ul mr-3"></i>
                            Hóa Đơn
                        </a>
                        <!---------------------------->
                        <ul class="collapse list-unstyled" id="bill">
                            <li>
                                <a href="#">
                                    <span class=""></span>
                                     Danh sách hóa đơn
                                </a>
                            </li>
                            <!---------------------------->
                            <li>
                                <a href="#">
                                    <span class=""></span>
                                   Hóa đơn chi tiết
                                </a>
                            </li>
                            <!---------------------------->
                            <li>
                                <a href="#">Bảng giá</a>
                            </li>
                            <!---------------------------->
                        </ul>
                    </li>
                    <!-- --------------------------------- Account ---------------------- -->
                    <li>
                        <a href="#"><span class="fa fa-user-circle mr-3"></span> Tài Khoản</a>
                    </li>
                    <!-- --------------------------------- Insistence ---------------------- -->
                    <li>
                        <a href="#"><span class="fa fa-edit mr-3"></span> Yêu Cầu</a>
                    </li>
                    <!-- --------------------------------- Notification ---------------------- -->
                    <li>
                        <a href="#"><span class="fa fa-bell mr-3"></span> Thông Báo </a>
                    </li>
                    <!-- --------------------------------- Regulation ---------------------- -->
                    <li>
                        <a href="#"><span class="fa fa-question-circle mr-3"></span> Nội Quy </a>
                    </li>
                    <!-- --------------------------------- Opinion ---------------------- -->
                    <li>
                        <a href="#"><span class="fa fa-question-circle mr-3"></span> Phản Hồi </a>
                    </li>
                </ul>
                <!-- --------------------------------- End Sidenavbar ---------------------- -->
                <div class="footer">
                    <p>
                        Copyright &copy;<script>
                            document.write(new Date().getFullYear());
                        </script>
                    </p>
                </div>
                <!-------------------------------------------------------------------------------->
            </div>
        </nav>
