<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/LayoutAdmin">
<div layout:fragment="content">

    <!-------------------- Header--------------->
    <div class="row">
        <a class="title"> Building Table</a>
        <div th:replace="layout/Header"></div>
    </div>
    <!-------------------------------------- Table Room ----------------------------->
    <div class="card" style="width: 100%; margin-left: -3px">
        <!-------------------------- card title table --------------->
        <div class="card-header" style="border-radius: 6px;background: rgb(73, 76, 162);">
            <div class="card-title">
                <h5 style="color: white"> Building Table</h5>
            </div>
        </div>
        <!------------------------------------------------------------->
        <div class="card-body">
            <!--------------------------card-body-table---------------->
            <table class="table table-hover" id="tableRoom">
                <thead>
                <tr>
                    <th>
                        ID Building
                    </th>
                </tr>
                </thead>
            </table>
            <!------------------------------------------------------>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#form-building">
                Create Building
            </button>
        </div>
    </div>
    <!---------------------------------------- Form modal building ---------------------------------->
    <div class="modal fade" id="form-building" tabindex="-1"
         role="dialog" aria-labelledby="form-label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <!------------------- Header-modal -------------->
                <div class="modal-header">
                    <h5 class="modal-title" id="form-label">Building Information</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!------------------- body-modal ---------------->
                <div class="modal-body">
                    <form>

                        <div class="row">
                            <!------------- ID Room--------------->
                            <div class="input-container">
                                <input type="text" required="" name="idroom" id="idroom"
                                       style="width:275px"/>
                                <label for="idroom">ID Room</label>
                            </div>
                            <!------------- ID Residential --------------->
                            <div class="input-container">
                                <input type="text" required="" name="idresidential" id="idresidential"
                                       style="width:175px"/>
                                <label for="idresidential">ID Residential</label>
                            </div>
                        </div>
                        <!------------------------------------ End row ----------------------->
                        <div class="row">
                            <!------------- Location --------------->
                            <div class="input-container">
                                <input type="text" required="" name="Location" id="location"
                                       style="width:140px">
                                <label for="location">Localtion</label>
                            </div>
                        </div>
                        <div class="row">
                            <!------------- Residential Total --------------->
                            <div class="input-container">
                                <input type="text" required="" name="Location" id="residentialtotal"
                                       style="width:140px">
                                <label for="residentialtotal">Residential Total</label>
                            </div>
                            <!------------- ID Building --------------->
                            <div class="input-container">
                                <input type="number" required="" name="idbuilding" id="idbuilding" style="width:150px">
                                <label for="idbuilding">ID Building</label>
                            </div>
                        </div>
                        <!------------------------------------ End row ----------------------->
                    </form>
                </div>
                <!------------------ footer-modal ----------------->
                <div class="modal-footer">
                    <button type="button" class="btn btn-success"><i class="icon-btn fa fa-plus"></i> Create Building
                    </button>
                    <button type="button" class="btn btn-primary"><i class=" icon-btn fa fa-refresh"></i>Update Building
                    </button>
                </div>
                <!------------------------------------------->
            </div>
        </div>
    </div>
</div>
