<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/LayoutAdmin">
<div layout:fragment="content">

    <!-------------------- Header--------------->
    <div class="row">
        <a class="title"> Building Table</a>
        <div th:replace="layout/Header"></div>
    </div>
    <!-------------------------------------- Table Residential ----------------------------->
    <div class="card" style="width: 100%; margin-left: -3px">
        <!-------------------------- card title table --------------->
        <div class="card-header" style="border-radius: 6px;background: rgb(73, 76, 162);">
            <div class="card-title">
                <h5 style="color: white"> Building Table</h5>
            </div>
        </div>
        <!------------------------------------------------------------->
        <div class="card-body">
            <!--------------------------card-body-table---------------->
            <table class="table table-hover" id="tableBuilding">
                <thead>
                <tr>
                    <th>
                        ID Building
                    </th>
                </tr>
                </thead>
            </table>
            <!------------------------------------------------------>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#form-building">
                Create Building
            </button>
        </div>
    </div>
    <!---------------------------------------- Form modal building ---------------------------------->
    <div class="modal fade" id="form-building" tabindex="-1"
         role="dialog" aria-labelledby="form-label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <!------------------- Header-modal -------------->
                <div class="modal-header">
                    <h5 class="modal-title" id="form-label">Building Information</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!------------------- body-modal ---------------->
                <div class="modal-body">
                    <form>

                        <div class="row">
                            <!------------- ID Residential --------------->
                            <div class="input-container">
                                <input type="text" required="" name="idbuilding" id="idbuilding"
                                       style="width:275px"/>
                                <label for="idbuilding">ID Building</label>
                            </div>

                            <!------------- Fullname --------------->
                            <div class="input-container">
                                <input type="text" required="" name="acreage" id="acreage"
                                       style="width:175px"/>
                                <label for="acreage">Acreage</label>
                            </div>
                        </div>
                        <!------------------------------------ End row ----------------------->
                        <div class="row">
                            <!------------- Birthday --------------->
                            <div class="input-container">
                                <input type="text" required="" name="floorsnumber" id="floorsnumber" style="width:140px">
                                <label for="floorsnumber">Floors Number</label>
                            </div>
                            <div class="input-container">
                                <input type="number" required="" name="roomnumber" id="roomnumber" style="width:150px">
                                <label for="roomnumber">Room Number</label>
                            </div>
                            <div class="input-container">
                                <input type="text" required="" name="roomtotal" id="roomtotal" style="width:145px">
                                <label for="roomtotal">Room Total</label>
                            </div>
                        </div>
                    </form>
                </div>
                <!------------------ footer-modal ----------------->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" >Create Building</button>
                    <button type="button" class="btn btn-primary">Update Building</button>
                </div>
                <!------------------------------------------->
            </div>
        </div>
    </div>
</div>
