<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/LayoutAdmin">
<div layout:fragment="content">

    <!-------------------- Header--------------->
    <div class="row">
        <a class="title"> Quản Lý Hóa Đơn </a>
        <div th:replace="layout/Header"></div>
    </div>
    <!-------------------------------------- Table Invoice----------------------------->
    <div class="card" style="width: 100%; margin-left: -3px">
        <!-------------------------- card title table --------------->
        <div class="card-header" style="border-radius: 6px;background: rgb(73, 76, 162);">
            <div class="card-titles">
                <h6 style="color: white"> Hóa Đơn theo tháng </h6>
            </div>
        </div>
        <!------------------------------------------------------------->
        <div class="card-body">
            <!--------------------------card-body-table---------------->
            <table class="table table-hover" id="tableinvoice">
                <thead>
                <tr>
                    <th>
                        ID Invoice
                    </th>
                </tr>
                </thead>
            </table>
            <!------------------------------------------------------>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#form-building">
                <i class="icon-btn fa fa-plus"></i> Tạo hóa đơn mới
            </button>
        </div>
    </div>
    <!---------------------------------------- Form modal building ---------------------------------->
    <div class="modal fade" id="form-building" tabindex="-1"
         role="dialog" aria-labelledby="form-label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <!------------------- Header-modal -------------->
                <div class="modal-header">
                    <h5 class="modal-title" id="form-label">Hóa đơn </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!------------------- body-modal ---------------->
                <div class="modal-body">
                    <form>

                        <div class="row">
                            <!------------- ID Invoice--------------->
                            <div class="input-container">
                                <input type="text" required="" name="idhoadon" id="idhoadon"
                                       style="width:220px"/>
                                <label for="idhoadon">ID Hóa Đơn</label>
                            </div>
                            <!------------- ID Room --------------->
                            <div class="input-container">
                                <input type="text" required="" name="idphong" id="idphong"
                                       style="width:225px"/>
                                <label for="idphong">ID Phòng</label>
                            </div>
                        </div>
                        <!------------------------------------ End row ----------------------->
                        <div class="row">
                            <!------------- tên hoa dơnd --------------->
                            <div class="input-container">
                                <input type="text" required="" name="tenhoadon" id="tenhoadon"
                                       style="width:200px">
                                <label for="tenhoadon">Tên Hóa Đơn</label>
                            </div>
                            <!------------- Money Total --------------->
                            <div class="input-container">
                                <input type="text" required="" name="tongsotien" id="tongsotien"
                                       style="width:245px">
                                <label for="tongsotien">Tổng Số Tiền</label>
                            </div>
                        </div>

                        <!------------------------------------ End row ----------------------->
                        <div class="row">
                            <!------------- Money Received --------------->
                            <div class="input-container">
                                <input type="text" required="" name="stdanhan" id="stdanhan" style="width:150px">
                                <label for="stdanhan"> Số Tiền Đã Nhận</label>
                            </div>
                            <!------------- Arrears --------------->
                            <div class="input-container">
                                <input type="text" required="" name="stconthieu" id="stconthieu" style="width:150px">
                                <label for="stconthieu">Số Tiền Còn Thiếu </label>
                            </div>
                            <!-------------Money Debt --------------->
                            <div class="input-container">
                                <input type="text" required="" name="nokytruoc" id="nokytruoc"
                                       style="width:140px">
                                <label for="nokytruoc">Dư Nợ Kỳ Trước</label>
                            </div>
                        </div>
                        <!------------------------------------ End row ----------------------->
                    </form>
                </div>
                <!------------------ footer-modal ----------------->
                <div class="modal-footer">
                    <button type="button" class="btn btn-success"><i class="icon-btn fa fa-plus"></i> Tạo Mới
                    </button>
                    <button type="button" class="btn btn-primary"><i class=" icon-btn fa fa-refresh"></i>Cập Nhật
                    </button>
                </div>
                <!------------------------------------------->
            </div>
        </div>
    </div>
</div>
